@import '../../../common.styl'

.screen
  background white

.screenWrapper
  height 100vh
  width calc(100% - 84px)
  display block
  position relative
  bottom 100%
  left 84px
  overflow scroll
  coolScrollbar()

.table
  width 100%
  padding 0 1rem
  display table
  border-spacing 0 2px

.head
  display table-header-group

.body
  display table-row-group

.row
  display table-row

  div
    display table-cell
    margin auto 0

.pagination
  display block