@import '../../../common.styl'

.screen
  background white

.screenWrapper
  display block
  
.table
  display block

.head
  display block
  
.row
  display block

.body
  display block

.pagination
  display block