@import '../../../common.styl'

.screen
  padding 14px 28px
  border-radius 4px
  background white

.screenWrapper
  height 100vh
  width calc(100% - 84px)
  padding 28px
  display block
  position relative
  bottom 100%
  left 84px
  overflow scroll
  coolScrollbar()

.table
  width 100%
  display table
  border-spacing 7px

.head
  display table-header-group

  div
    padding-bottom 14px

.body
  display table-row-group

.row
  display table-row

  div
    display table-cell

.pagination
  margin-top 14px
  display flex
  gap 14px