@import '../../../../../common.styl'

.row
  min-height 64px
  display table-row

  div
    display table-cell
    border 2px solid red

    div
      display flex
      flex-direction column
      justify-content center

.orderNumber
  font-weight 500
  color $primary-dark