@import '../../../../../common.styl'

.row
  min-height 64px
  display table-row

  div
    display table-cell
    vertical-align middle
    
    div
      width 80%

    &:last-child div
      width 100%

.orderNumber
  font-weight 500
  color $primary-dark